body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
}

ul{
    list-style: none;
}

li{
    margin-top: 2.5%;
    float: left;
}

img{
    width: 90%;
    transition: transform 0.5s ease-in-out;
    border: 5px solid; /* Don't need this for the assignment */
}
img:hover{
/*    transform: rotate(90deg);*/
    transform: scale(0.8); /*120% */
   /* transform: skew(20deg, 30deg);
    transform: translate(50px, 100px);*/
}

@media screen and (min-width: 600px) {
    /* Two column */
    li{
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    /* Four column */
    li{
        width: 25%;
    }
}